{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_widget.css' %}">
    <title>Formulario</title>
</head>
<body>
    
    <div class="contact_form">
        <div class="formulario">
            <h1>Formulario de contacto</h1>
            <h3>Escríbenos y en breve los pondremos en contacto contigo</h3>

            <form action='{% url "widget" %}' method='POST'>
                {% csrf_token %}
                {# aplicando style_widget.css al form #}
                {{ form }}
                <button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>
            </form>
            
        </div>
    </div>

</body>
</html>