{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block style %}{% endblock  %}
    <title>{% block tittle %}{% endblock  %}</title>
</head>
<body>
    <header>
        {#para incuir el menu que esta en otro archivo usamos include #}
        {# la ruta que se coloca en los include es relativa desde en dir de templates #}
        {% include "layouts/partials/menu.html" %}
    </header>

    <main>
        {% block content %}{% endblock  %}
    </main>

    <footer>
        <p>Todos los derechos</p>
    </footer>

    {% block scrips %}{% endblock  %}
</body>
</html>