{% extends "layout/base.html" %}

{% block 'title' %} Crear contacto {{ contact }} {% endblock  %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/form.css" %}">
{% endblock  %}

{% block 'content' %}
    {% include "contact/partials/msg_success.html" %}

    <span class='btn-aux'>
        <a href="{% url "contact" %}" class='btn btn-detail'>Volver atrás</a>
    </span>

    {# el method='PUT' se usa para actualizar pero aqui usamos el post #}
    <form action="{% url "contact_create" %}" method='POST'>
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Guardar">
    </form>
{% endblock  %}